<br/><br/>
<h2 align="center">@ViewBag.Message</h2>

<address>
    University of The South Pacific<br />
    Laucala Bay, Suva<br />
    <abbr title="Phone">P:</abbr>
    9999000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@fijihomes.com">Support@fijihomes.com</a><br />
    <strong>Manager:</strong> <a href="mailto:anuraghsharma@gmail.com">anuraghsharma@gmail.com</a>
</address>